*{
    margin: 0px;       
    font-family: "inter";
}
#titulo1{
    
    padding-left: 62px;
    color: aliceblue;
    padding-top: 103px;
}
#subtitulo{
    padding: 20px 0 0px 62px;
    color: aliceblue;
}
#menuinicial{     
    width: 1315px;
    height: 300px;
    background-color: #303030;
}

#menuinfo{
    width: 1245px;
    height: 100PX;
    margin: 0px 50px 0px 0px;
    padding-left: 62px;
    padding-top: 50PX;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background: #F9F9F9;

}

#Menuimagem{
    text-align: center;
    width: 1245px;
    height: 605PX;
    margin: 0px 50px 100px 0px;
    padding-left: 62px;
    padding-top: 20PX;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background: #F9F9F9;
}
#textoimagem{
padding-top: 160px;

}
#menuforms{
    text-align: center;
    background: #303030;
    color: white;
}
input{
    width: 300px;
    height: 40px;
    background-color:#eaece5 ;
    margin: 25px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

#bt{
    background: #C07212;
    height: 30px;
    width: 250px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
    color: white;

}